.app-modal {
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  padding: 34px;
  overflow: auto;
  position: fixed;
  max-width: 448px;
  background: $main;
  z-index: z("modal");
  flex-direction: column;

  &-overlay {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    backdrop-filter: blur(2px);
    z-index: z("modal-overlay");
    background: rgba(0, 0, 0, 0.1);
  }

  &__header {
    display: flex;
    margin-bottom: 40px;
    font-family: $sans1med;
    @extend %row-center-spaced;
    text-transform: capitalize;
    .app-logo {
      @extend %row-middle;
      svg {
        height: 26px;
        width: max-content;
      }
    }
    h2 {
      font-size: 26px;
      margin-top: 10px;
      @include phone {
        font-size: 24px;
      }
    }
    button {
      width: 30px;
      height: 30px;
      border-radius: 100%;
      @extend %row-middle;
      border: 1px solid rgba($color: $sub, $alpha: 0.1);
      svg {
        width: 14px;
        height: 14px;
        stroke: $sub;
        opacity: 0.7;
      }
    }
  }

  &-centered {
    top: 50%;
    left: 50%;
    width: 430px;
    max-width: 90vw;
    font-size: 16px;
    padding: 26px 24px;
    height: max-content;
    border-radius: 12px;
    font-family: $sans1;
    letter-spacing: -0.4px;
    transform: translate(-50%, -50%);
    border: 1px solid rgba($color: $sub, $alpha: 0.15);
    @include phone {
      padding: 24px 22px;
    }
    .app-modal__header {
      margin-bottom: 10px;
      h2 {
        font-size: 19px;
        margin-top: 2px;
        font-family: $sans1med;
      }
      button {
        width: 26px;
        height: 26px;
        svg {
          width: 12px;
          height: 12px;
          opacity: 0.8;
        }
      }
    }

    .app-modal__description {
      gap: 8px;
      margin-bottom: 28px;
      flex-direction: column;
      p {
        font-size: 16px;
        color: rgba($color: $sub, $alpha: 0.5);
      }
    }

    .connect-wallet-options {
      gap: 14px;
      flex-direction: column;
      .connect-wallet-option {
        gap: 10px;
        width: 100%;
        cursor: pointer;
        padding: 15px 20px;
        align-items: center;
        flex-direction: row;
        border-radius: 8px;
        justify-content: space-between;
        border: 1px solid rgba($color: $sub, $alpha: 0.09);
        &__details {
          gap: 10px;
          align-items: center;
          flex-direction: row;
          svg {
            width: 20px;
          }
          p {
            flex: 1;
            color: rgba($color: $sub, $alpha: 0.8);
          }
        }
        &__radio {
          width: 18px;
          height: 18px;
          overflow: hidden;
          border-radius: 100%;
          background: rgba($color: $sub, $alpha: 0.06);
          svg {
            width: 100%;
            height: 100%;
            fill: $sub !important;
          }
        }
      }
    }

    .connect-wallet-btn {
      flex: 1;
      display: flex;
      color: $main;
      cursor: pointer;
      font-size: 16px;
      margin-top: 26px;
      background: $sub;
      padding: 14px 0px;
      align-items: center;
      border-radius: 10px;
      font-family: $sans1med;
      justify-content: center;
    }
  }
}
